*.class
*.jar
*.war
bin/
target/
out/
build/

.classpath
.project
.settings/
.metadata/
.recommenders/

*.iml

*.log

db.properties
local.properties
.env
# Pastas de saida geradas pelo Eclipse
bin/
build/